/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/



:after,
::before {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit
}

li,
ol,
ul {
    list-style: none
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    margin: 0;
}

.container{
    margin: auto;
    max-width: 1170px;
    padding-inline: 10px;
}


.orange-button{
    outline: none;
    border: none;
    background: #FF8126;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.article-header{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.article-header span{
    color: #FF8126;
}


body._lock{
    overflow: hidden;
}


/*advertisement********************************************************************************************************************************/


.advertisement .container{
    padding-inline: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
}

.advertisement{
    background-color: #C2E8CE;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 12;
    height: 50px;
}
.advertisement-p{
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    /* padding: 15px 0 14px 0; */
    
}

.close-btn {
    top: 15px;
    right: 51px;
    position: absolute;
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
  }
  
  .close-btn:before,
  .close-btn:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #333;
    top: -1px;
  }
  
  .close-btn:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .close-btn:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .advertisement.top{
    position: absolute;
  }
  

  @media (max-width: 590px) {
    .advertisement-p{
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        text-align: left;
    }

    .advertisement .container{
       padding: 3px 40px 0 16px;
       -webkit-box-pack: left;
           -ms-flex-pack: left;
               justify-content: left
    }
    .close-btn{
        right: 13px;
    }
    
  }
  

  /**********************************************--/
  /*navigaion/*/

header .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-block: 20px;
}

header{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 999;
}

.header.top{
    margin-top: 0;
}

.navigation ul{
    padding: 0;
    margin: 0;
}
.navigation ul li{
    position: relative;
    float: left;
    padding-bottom: 2px;
}

.navigation ul li a{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
    padding: 0 20px 0 20px;
    position: relative;
}




.navigation ul li a.nest{
    padding-right: 34px;
}

.navigation ul li a:hover{
    color: #FF8126;
}

.bakery-wrap{
    -ms-flex-preferred-size: 12.8%;
        flex-basis: 12.8%;
}
.bakery{
    width: 100%;
    height: auto;
}

.v-shape{
    position: absolute;
    top: 9px;
    right: 25px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.v-shape:before,
.v-shape:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 6px;
  background-color: #333;

}

.v-shape:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 3px;
}

.v-shape:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation ul li ul{
    position: absolute;
    left: 20px;
    top: 22px;
    width: auto;
    padding: 0;
    display: none;
    z-index: 3;

}

.navigation ul li ul li{
   width: 100%;
   border-top: 1px solid #FF8126;
   padding-block: 2px;
   
}

.navigation ul li ul li a{
   padding: 0px;
}

.navigation ul li:focus-within >ul,
.navigation ul li:hover >ul
{
    display: initial;
}

.navigation ul li:hover .v-shape,
.navigation ul li:focus-within .v-shape{
    -webkit-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
            transform: scale(1, -1);
    top: 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



.logo-link{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #BFBFBF;
    margin-right: 10px;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.logo-link-wrap img{
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.logo-link:hover > .logo-link-wrap img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform:rotate(12deg);
        -ms-transform:rotate(12deg);
            transform:rotate(12deg)
}

.logo-link:last-child{
    margin-right: 0;
}

.logo-link-wrap{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

@media (max-width: 1050px) {
    .bakery-wrap{
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        margin-right: auto;
    }
    
}
.notification{
    position: relative;
}

.notification::after{
    content: "23";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FF8126;
    color: white;
    font-weight: 500;
    font-size: 9px;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
    right: 0px;
    top: 5px;
}

.burger-icon{
    display: none;
    min-width: 32px;
    min-height: 32px;
}

.logo-subgroup{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 1029px) {
    .burger-icon{
        display: block;
        position: relative;
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin: auto 6px auto 0;
        border-radius: 50%;
        background-color: #FF8126;
    }
    
    .burger-icon span,
    .burger-icon::before,
    .burger-icon::after{
        left: 44%; 
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background-color: #ffffff;
    }
    
    
    .burger-icon::before,
    .burger-icon::after{
        content: "";
    }
    
    .burger-icon::before{
        top: 6px;
    }
    
    .burger-icon::after{
        bottom: 6px;
    }
    
    .burger-icon span{
        top: 50%;
        -webkit-transform: scale(1) translate(0px, -50%);
            -ms-transform: scale(1) translate(0px, -50%);
                transform: scale(1) translate(0px, -50%);
    }
    
    .burger-icon._active::before{
        border-radius: 27px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        width: 4px;
        height: 18px;
        top: 22%;
    }
    
    .burger-icon._active::after{
        border-radius: 27px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        width: 4px;
        height: 18px;
        bottom: 22%;
    }
    
    .navigation{
        position: absolute;
        top: -100%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    
    .logo-group{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin-left: 6px;
    }

    .logo-link{
        border-color: #BFBFBF;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    
    
    .bakery-wrap{
        margin-inline: auto;
    }

    .logo-subgroup{
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    .logo-link:first-child{
        height: 32px;
        width: 32px;
        margin-right: 0;
    }

    .logo-link-wrap img{
        width: 36%;
        height: auto;
    }

    header{
        position: fixed;;
        top: 50px;
        width: 100%;
        background-color: #ffffff;
        margin-top: 0;
    }

    header.top{
        top: 0px;
    }
    .header .container{
        padding-block: 10px;
        
    }

    .header._active .container{
        padding-bottom: 147px;
    }

    .header._active .container .navigation{
        position: fixed;
        left: 0;
        right: 0;
        display: initial;
        top: 255px;
        background: #ffffff;
        height: calc(100% - 255px);
        overflow-y: scroll;
        overflow-x: hidden;
        visibility:visible;
        opacity: 1; 
    }

    .header._active .container .logo-group .logo-subgroup{
        opacity: 1;
        visibility: visible;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        width: 130px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        top: 176px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .header._active .container .logo-group .logo-subgroup a{
        height: 60px;
        width: 60px;
        
    }

    .header._active .container .navigation > ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .header._active .container .navigation ul li{
        width: 100%;
        border: none;
        margin-bottom: 30px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .header._active .container .navigation ul li a{
        padding-left: 16px;
        font-size: 20px;
        line-height: 30px;
        color: #1F1F1F;

    }

    .header._active .container .navigation ul li ul{
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        top: 10px;
        left: 10px;
      
    }
    .header._active .container .navigation ul li ul li{
        background: #ffffff;
        margin-bottom: 5px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }


    .navigation ul li:focus-within >ul,
    .navigation ul li:hover >ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

}


/*----------------------- Support Your Local Artisans -----------------------------*/

.headline{
    font-family: 'Cormorant';
    font-weight: 700;
    color: #1F1F1F;
}

.browse-bands-headline{
    font-size: 50px;
    line-height: 61px;
}

.sub-headline{
    font-weight: 300;
    font-size: 26px;
    line-height: 46px;
    margin-bottom: 28px;
}

.browse-bands{
    background: url("../source/support-background.webp") center/cover no-repeat;
    
}

.browse-bands .container{
    padding: 125px 10px 195px;
    /* max-width: 1280px;
    margin: auto; */
}

.browse-bands-button{
    padding: 8px 36px 10px;
    margin-left: 5px;
    cursor: pointer;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.browse-bands-button:hover{
    background-color: #dd7022;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

@media (max-width: 1029px) {

    .browse-bands-headline{
        font-weight: 700;
        font-size: 28.7719px;
        line-height: 35px;
        margin-bottom: 2px;
    }
    
    .sub-headline{
        font-weight: 400;
        font-size: 14.9614px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .browse-bands{
        margin-top: 118px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        background: url("../source/browse-bands-bg-mobile.webp") center/cover no-repeat;
    }

    .browse-bands .container{
        text-align: center;
        padding: 25px 16px 301px 15px;
    }

    .browse-bands.top{
        margin-top: 118px;
    }

    .browse-bands-button{
        margin-left: -1px;
    }

    .browse-bands{
        margin-bottom: 50px;
    }

    
}

@media (max-width: 590px) {
    .browse-bands{
        margin-bottom: 0;
    }
}



/***************** latest offers *********************/

.latest-offers .container{
    padding-block: 80px;
}
.card-group{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-column-gap: 30px;
}
.card{
    border-radius: 20px;
    background: #F7F5F0;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

}

.card-image-wrap{
    width: auto;
}

.card-image-wrap img{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.product-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 5px;
}

.product-price{
    text-align: center;
    margin-bottom: 15px;
}

.product-price .orange-price{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FF8126;
}

.product-price .dashed-price{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #656565;
}

.card-content-wrap{
    padding: 16px 19px 30px;
}

.card-button{
    padding: 6px 0px 7px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.card-button:hover{
    background-color: #dd7022;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.card-button-container{
    text-align: center;
}

.latest-offers-article{
    margin-bottom: 33px;
}

.latest-offers .container{
    padding-bottom: 0;
}

.latest-offers{
    margin-bottom: 50px;
}

@media (max-width: 1029px) {
    .latest-offers .container{
        padding-left: 46px;
        padding-right: 44px;
        padding-top: 30px;
    }

    .latest-offers-article{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 23px;
    }
}



/**********************/
/*why choose*/

.why-choose-article-header{
    margin-bottom: 40px;
}

.article-cards{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-column-gap: 30px;
}

.article-card{
    margin-bottom: 50px;
}

.article-card-image-wrap{
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}

.article-card-image-wrap img{
    width: 100%;
    height: auto;
}

.article-card-header{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Cormorant';
    margin-bottom: 10px;
    white-space:pre-line;
}

.article-card-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.low-letterspace{
    letter-spacing: -0.0025em;
}

.why-choose{
    margin-bottom: 27px;
}

@media (max-width: 1029px) {
    .article-card-header{
        white-space: normal;
    }

    .why-choose .container{
        padding-inline: 16px;
    }

    .article-card-image-wrap{
        margin-inline: auto;
    }

    .why-choose-article-header{
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 25px;
    }

    .why-choose{
        margin-bottom: 40px;
    }
}


/*****************************/
/*who makes*/

.who-makes .container{
    padding-bottom: 80px;
}
.who-makes-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.who-makes-header{
    margin-bottom: 12px;
    text-align: left;
}

.who-makes-p{
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.who-makes-list{
    padding-left: 39px;
    
}
.who-makes-list li{
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 19px;
}

.who-makes-list li:last-child{
    margin-bottom: 13px;
}

.who-makes-list li:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #ffffff;
    -webkit-clip-path: polygon(0% 60%, 40% 100%, 100% 40%, 90% 20%, 40% 70%, 15% 40%);
            clip-path: polygon(0% 60%, 40% 100%, 100% 40%, 90% 20%, 40% 70%, 15% 40%);
    z-index: 2;
    position: absolute;
    left: -32px;
    top: 6px;
}

.who-makes-list li:after{
    content: "";
    background-color: #FF8126;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: -39px;
    top: 0px;
    position: absolute;

}

.who-makes-button{
    padding: 8px 30px 10px;
    max-width: 270px;
    cursor: pointer;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.who-makes-button:hover{
    background-color: #dd7022;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.who-makes-image-wrap picture > *{
    display: block;
    width: 100%;
    height: auto;
}

.who-makes-image-wrap{
    max-width: 570px;
    max-height: 487px;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
    -ms-flex-line-pack: center;
        align-content: center;
}

@media (max-width: 860px) {
    .who-makes-grid{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .who-makes-image-wrap{
        grid-column: auto;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        -ms-grid-column-align: center;
            justify-self: center;
        margin-bottom: 3px;
    }

    .who-makes-image-wrap picture > *{
        aspect-ratio: 82/35;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .who-makes .container{
        padding-inline: 16px;
    }

    .who-makes-header{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }

    .who-makes-button{
        -ms-grid-column-align: center;
            justify-self: center;

    }

    .who-makes-p{
        margin-bottom: 17px;
    }
    
    .who-makes-list li{
        margin-bottom: 18px;
    }

    .who-makes-list{
        margin-bottom: 10px;
    }

}


/*******************************/
/*learn more */

.learn-more{
    background: url("../source/charity-bg.webp") center/cover no-repeat;
    background-color: #6090C3;
}

.learn-more .container{
    padding-block: 60px;
    text-align: center;
    margin-bottom: 80px;
}

.learn-more-header{
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
}

.learn-more-image-wrap{
    margin-bottom: 30px;
}

.learn-more-image-wrap img{
    max-width: 100px;
    max-height: 130px;
}

.learn-more-button{
    padding: 8px 31px 10px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    cursor: pointer;
}

.learn-more-button:hover{
    background-color: #dd7022;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

@media (max-width: 590px) {
    .learn-more-header{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        padding-inline: 10px;
    }

    
    .learn-more .container{
        padding-top: 50px;
    }

    .learn-more .container{
        margin-bottom: 50px;
    }
}


/*************************/

/*surprise*/
.surprise{
    margin-bottom: 80px;
}

.surprise-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.surprise-flex > div{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}

.surprise-content-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.surprise-header{
    white-space:pre-line;
    text-align: left;
    margin-bottom: 20px;
}

.surprise-p{
    white-space: pre-line;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.surprise-button{
    max-width: 140px;
    padding: 8px 31px 10px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    cursor: pointer;
}

.surprise-button:hover{
    background-color: #dd7022;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.surprise-image-wrap picture > *{
    width: 100%;
    height: auto;
}

.surprise-image-wrap picture{
    width: 100%;
    height: 100%;
}
.surprise-image-wrap{
    padding-right: 30px;
}


@media (max-width: 860px) {
   
    .surprise-image-wrap picture > *{
       height: 100%;
       width: 100%;
       -o-object-fit: cover;
          object-fit: cover;
    }
    .surprise-header{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }
    
    .surprise{
        margin-bottom: 100px;
    }
}

@media (max-width:590px) {
    .surprise-image-wrap{
        display: none;
    }

    .surprise-content-wrap{
        -ms-flex-preferred-size: 100%!important;
            flex-basis: 100%!important;
    }
    .surprise .container{
        padding-inline: 16px;
    }

    .surprise-button{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

    .surprise-header{
        margin-bottom: 30px;
    }

    .surprise-p{
        margin-bottom: 30px;
    }
}


/*******************************************/
/*On instagram */

.on-instagram{
    margin-bottom: 70px;
}

.on-instagram .container{
    position: relative;
    /* padding-inline: calc(15px + (60px - 15px) * ((100vw - 360px) / (1280 - 360))); */
}

.swiper-container{
    position: relative;
    padding-inline: 50px;
}

.on-instagram-header{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 30px;
}

.on-instagram-header span{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FF8126;
}


.swiper--slide{
    height: 156px!important;
    width: 156px!important;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin: 10px;
}

.swiper--slide:last-child{
    margin-right: 10px!important;
}

.swiper--slide img{
    width: 100%;
    height: auto;
}

.swiper{
    max-width: 1070px;
}


.swiper-button-prev::after, .swiper-button-next::after{
    color: #fff;
    font-size: 10px !important;
}

.swiper-button-prev::after{
    color: #b2b2b2;
}

.swiper-button-prev, .swiper-button-next{
    border-radius: 50%;
    width: 40px !important; 
    height: 40px !important;
    top: 50% !important;
    position: absolute;
}

.swiper-button-prev{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #B3B3B3;
    left: 0% !important;
}

.swiper-button-next{
    background: #FF8126;
    right: 0% !important;
}

@media (max-width: 860px){

    .swiper-button-prev, .swiper-button-next{
        display: none!important;
    }

    .swiper-container{
        padding-inline: 0;
    }

    .on-instagram .container{
        padding-inline: 16px;
    }

    .swiper--slide{
        height: 218px!important;
        width: 218px!important;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        padding: 20px;
    }

    .on-instagram-header{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }

}


/*tell a friend **************************************/
.tell-a-friend{
    background: url("../source/tell-bg.webp") center/cover no-repeat;
    background-color: #FF81261F;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 60px;
}

.tell-a-friend .container{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tell-a-friend-header{
    margin-bottom: 30px;
}

.social-buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.social-buttons a{
    margin: 0 15px 10px;
}

.social-buttons img{
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.social-buttons img:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

@media (max-width:860px) {
    .tell-a-friend .container{
        padding-inline: 45px;
    }

    .tell-a-friend{
        padding-top: 85px;
        margin-bottom: 50px;
    }

    .social-buttons a{
        margin-bottom: 45px;
        margin-bottom: 30px;
    }
}


/********************************/

/*footer *****************************************/


.footer .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    padding-right: 20px;
    max-width: 1280px;
}

.footer .container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    padding-inline: 16px;
}
.footer__item{
    margin: 0 20px 20px;
    
}
.footer__title{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 15px;
}
.footer__list{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #3D3D3D;
}
/* .footer__item:last-child{
    margin-right: 0;
} */

.footer__list{
    padding-left: 0;
}

.footer__list li{
    padding: 5px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer__list li a:hover{
    color: #FF8126;
}


@media(max-width:860px){
    .logo__footer{
        display: block;
        margin: 0 auto 70px auto;
        text-align: center;
    }
    .footer__list{
        font-size: 20px;
        line-height: 30px;
    }
    .footer__title{
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 632px){
    .footer .container{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        justify-items: start;
    }
}

@media(max-width:430px){
    .footer__item{
        display: block;
        width: 100%;
        margin-bottom: 45px;
    }

    .logo__footer{
        margin-bottom: 70px;
    }
}