.why-choose-article-header{
    margin-bottom: 40px;
}

.article-cards{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-column-gap: 30px;
}

.article-card{
    margin-bottom: 50px;
}

.article-card-image-wrap{
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}

.article-card-image-wrap img{
    width: 100%;
    height: auto;
}

.article-card-header{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Cormorant';
    margin-bottom: 10px;
    white-space:pre-line;
}

.article-card-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.low-letterspace{
    letter-spacing: -0.0025em;
}

.why-choose{
    margin-bottom: 27px;
}

@media (max-width: 1029px) {
    .article-card-header{
        white-space: normal;
    }

    .why-choose .container{
        padding-inline: 16px;
    }

    .article-card-image-wrap{
        margin-inline: auto;
    }

    .why-choose-article-header{
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 25px;
    }

    .why-choose{
        margin-bottom: 40px;
    }
}

